body {
  background-color: #171717;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

button {
  border-radius: 6px;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}
